body{
    background-color: rgb(206, 175, 198);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}

nav{
    padding-left: 100px;
    padding-bottom: 10px;
    background-color: #b7ceb0;
}

nav button{
    background-color: #648d58;
    margin-right:  5px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 770px) {

    nav{
        padding-left: 20px;
        padding-right: 20px;
    }

    nav .button-links{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}

.container-images {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.container-images div{
    background-color: white;
    /* height: auto; */
    width: 700px;
    border-radius: 15px;
    overflow: hidden;    
}

iframe {
    width: 100%;
    height: 450px;
}

@media screen and (max-width: 770px) {

    .container-images {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        gap: 10px;
    }

    .container-images div{
        background-color: white;
        height: 400px; 
        width: 300px;
        border-radius: 15px;
        overflow: hidden;    
    }

    iframe {
        height: 100%;
        /* height: 450px; */
    }

}

.container-images div img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.greeting{
    padding-left: 100px;
    padding-top: 50px;
    font-size: 20px;
}
@media screen and (max-width: 770px) {

    h2{
        font-size: 22px;
    }

    .greeting{
        padding-left: 40px;
    }
}

.message-text{
    color: white;
    font-size: 48px;
}

.mishki-body{
    background-color: #7f246b;
}

.landscape{
    object-fit: contain;
}